<div class="container">
   <div class="row">
      <div class="col-md-6 center-block row-center">
         <div class="card-box">
            <h4 class="m-t-0 m-b-20 header-title">Fotos ({{photos.length}}) <a class="pull-right goToBack" (click)="goToBack()">Volver atras</a></h4>
            <div class="row">
               <div class="col-md-6" *ngFor="let photo of photos">
                  <div class="gal-detail thumb">
                     <img src="{{photo.url}}" class="thumb-img" alt="work-thumbnail">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>