<div class="container">
   <div class="row">
      <div class="col-md-6 center-block row-center">
         <div class="text-center card-box">
            <div class="member-card">
               <div class="thumb-xl member-thumb m-b-10 center-block">
                  <img src="http://bootdey.com/img/Content/avatar/avatar6.png" class="img-circle img-thumbnail" alt="profile-image">
               </div>
               <div>
                  <h4 class="m-b-5">{{ profileInfo.name }}</h4>
                  <p class="text-muted">@{{ profileInfo.username }}</p>
               </div>
               <div class="text-left m-t-40">
                  <p class="text-muted font-13"><strong>Correo :</strong> <span class="m-l-15"> {{profileInfo.email}} </span></p>
                  <p class="text-muted font-13"><strong>Telefono :</strong><span class="m-l-15"> {{profileInfo.phone}}</span></p>
                  <p class="text-muted font-13"><strong>Compañia :</strong> <span class="m-l-15"> {{profileInfo.company.name}} </span></p>
               </div>
            </div>
         </div>
         <div class="card-box">
            <h4 class="m-t-0 m-b-20 header-title">Álbumes</h4>
            <div class="row">
               <div class="col-md-6" *ngFor="let album of albums">
                  <div class="gal-detail thumb">
                     <a  (click)="goToAlbumDetails(album.id)" class="image-popup" title="{{album.title}}">
                     <img src="http://placehold.it/400x300" class="thumb-img" alt="work-thumbnail">
                     </a>
                     <h4 class="text-center">{{album.title}}</h4>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>